@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scrollbar-thin scrollbar-track-gray-100 scrollbar-thumb-gray-400 hover:scrollbar-thumb-gray-500;
}
* {
  -webkit-tap-highlight-color: transparent;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@layer base {
  button,
  input,
  textarea {
    @apply outline-none focus:outline-none;
  }
}

@layer components {
  .custom-prose > span > p:first-of-type {
    @apply mt-0;
  }
  .custom-prose_no-p-margin > span > p {
    @apply my-0;
  }
}

.firebase-emulator-warning {
  display: none !important;
}

:root {
  --toastify-toast-width: 220px !important;
  --toastify-toast-min-height: 54px !important;
}
