@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --toastify-color-light: #9ca3af !important;
} */
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@layer base {
  button,
  input,
  textarea {
    @apply outline-none focus:outline-none;
  }
}

.firebase-emulator-warning {
  display: none !important;
}
